@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'flowbite';

.loginButton {
  background-color: #624EDE;
}

.loginButton:hover {
  background-color: #38DFCE;
  transition: ease-in-out 0.3s;
}

.menuItem:hover {
  color: #624EDE;
  transition: ease-in-out 0.3s;
  font-weight: bold;
}

.companyName {
  font-size: 15rem;
  font-weight: bold;
}